:root{
    --primario : #FFFFFF;
    --secundario: #F9F6F7;
    --terciario : #46B193;
    --cuarto: #F75A61;
    --quinto:#ff7310d4;
}

.img-contacto{
    width: 400px;
    height: 200px;
}


/* Formulario*/
#descripcion{
    resize: none;
}

label.error{
    color: red;
}

input.error {
    border: 2px solid darkred;
}

textarea.error {
    border: 2px solid darkred;
}


/*MAPA*/
#map {
	height: 600px;
	width: 100%;
}