:root{
    --primario : #FFFFFF;
    --secundario: #F9F6F7;
    --terciario : #46B193;
    --cuarto: #F75A61;
    --quinto:#ff7310d4;
}

/* Formulario*/
#descripcion{
    resize: none;
}

/*MAPA*/
#map {
	height: 430px;
	width: 100%;
}