@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap');

body{
    background: rgb(239, 193, 118);
}

.titulo{
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    font-family: "Times New Roman", Times, serif;
    margin: 20px 0;
}

.carousel-caption{
    background: rgba(239, 193, 118, 0.5);
    border-radius:20px ;
    color: rgb(0, 0, 0);
}


#caja-carrusel{

    height: 300px;
    width: 500px ;
}

.carousel{
    padding: 10px;
    
}

.carousel-inner{
    
    box-shadow: 0 0 0 10px #efc076;
    width: 100;
    border-radius: 10px;
    
}

.carousel-item img{
    width: 100%;
    height: 500px;
   
}

.card-trabajador{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-trabajador > .img-trabajador{
    height: 220px;
    width: 220px;
    border-radius: 100%;
    padding: 20px;
    
}

.info{
    padding: 20px;
    border: 3px dashed #fefefe;
}

.info-nombre{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.info-correo{
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.btn-control{
    display: flex;
    justify-content: space-around;
}

/**Servicios**/

.cont-text{
    padding: 10px;
    
    margin-bottom: 10px;

}

.cont-img{
    padding: 20px;
    
}
.cont-img img{
    border-radius: 50%;
    width: 500px;
}

#terms{
    font-size:small;
    font-weight: bold;
}
.cajita{
    outline: rgb(255, 115, 16) solid 3px;
}

h3, h6{
    text-decoration: underline;

}
/**Servicios**/