@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap');

body{
    background: rgb(239, 193, 118);
}

:root{
    --primario : #FFFFFF;
    --secundario: #F9F6F7;
    --terciario : #46B193;
    --cuarto: #F75A61;
    --quinto:#ff7310d4;
}

/* PORTADA */
div.portada{
    position: relative;
}

div.portada-imagen{
    height: 400px;
}

div.portada-imagen img{
    height: 100%;
    width: 100%;
}

div.portada-titulos{
    position: absolute;
    top: 25%;
    left: 25%;
}

div.portada-titulos{
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
}

div.portada-titulos > h1{
    font-size: 70px;
}

div.portada-titulos > h2{
    font-size: 30px;
}

/* PRODUCTOS */

.titulo{
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    font-family: "Times New Roman", Times, serif;
    margin: 20px 0;
}

.productos-top{
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-center{
    margin: 0 auto;
}
.card{
    margin-top: 10px;
    overflow: hidden; 
}
.card-img-top{
    transition: transform .5s ease;
}
.card-img-top:hover{
    transform:scale(1.3);
}

.card-title{
    font-size: 15px;
} 

:is(h5.card-title, p.card-text, .precio,.btn-comprar){
    text-align: center;
}

.precio{
    color: var(--cuarto);
}
.btn-comprar{
    margin: 0;
}