@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap');


:root{
    --primario : #FFFFFF;
    --secundario: #F9F6F7;
    --terciario : #46B193;
    --cuarto: #F75A61;
    --quinto:#ff7310d4;
}

body{
    background: rgb(239, 193, 118);
}


.contenedor-formulario{
    background: white;
    border-radius: 3%;
}

.caja-imagen{

    min-width: 100px;
    height: 200px;
}

.caja-imagen img{
    padding-top: 5px;
    width: 100%;
    height: 100%;
    
}

.img-contacto{

}


/* Formulario*/
#descripcion{
    resize: none;
}

label.error{
    color: red;
}

input.error {
    border: 2px solid darkred;
}

textarea.error {
    border: 2px solid darkred;
}


/*MAPA*/
#map {
	height: 600px;
	width: 100%;
}